<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2019-2026 WireGuard LLC. All Rights Reserved.
-->

<?if $(var.WIREGUARD_PLATFORM) = "amd64" Or $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else?>
	<?error Unsupported WireHush product platform ?>
<?endif?>
<?if $(var.WIREGUARD_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "a9fd3e3c-7e5b-4d6d-9a6b-6d7f497ba1de"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define UpgradeCode = "e3b4a4e6-8070-4655-9d64-d0d4b098d2f1"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="WireHush Development"
		Language="1033"
		Version="$(var.WIREGUARD_VERSION)"
		Manufacturer="WireHush contributors"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="500"
			Compressed="yes"
			InstallScope="perMachine"
			Description="WireHush development VPN client"
			ReadOnly="yes" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Icon Id="wirehush.ico" SourceFile="..\ui\icon\wirehush.ico" />
		<Binary Id="customactions.dll" SourceFile="$(var.WIREGUARD_PLATFORM)\customactions.dll" />

		<Property Id="ARPPRODUCTICON" Value="wirehush.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/neosmith20/TunnelMint" />
		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<!--
			Upgrading
		-->
		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallExecute"
			IgnoreRemoveFailure="yes" />

		<!--
			Folders
		-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="wirehushFolder" Name="TunnelMint">
					<Directory Id="wirehushNoticesFolder" Name="Notices" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" />
		</Directory>

		<!--
			Components
		-->
		<ComponentGroup Id="wirehushComponents">
			<Component Directory="wirehushFolder" Id="wirehushExecutable" Guid="0d4a3a8e-26f2-40e5-9a0e-f1ac70a0fc99">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\wirehush.exe" KeyPath="yes">
					<Shortcut Id="wirehushStartMenuShortcut" Directory="ProgramMenuFolder" Name="WireHush" Description="WireHush development VPN client" WorkingDirectory="wirehushFolder" Advertise="yes" />
				</File>
				<ServiceControl Id="DummyService.3AA0C492_29F4_4342_B608_DB95B2DECB13" Name="DummyService.3AA0C492_29F4_4342_B608_DB95B2DECB13" /><!-- A dummy to make WiX create ServiceControl table for us. -->
			</Component>
			<Component Directory="wirehushFolder" Id="wirehushWgExecutable" Guid="0f2e419a-d4f9-4ebc-8ebc-378f90e5d3e3">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\wg.exe" KeyPath="yes" />
				<Environment Id="PATH" Name="PATH" System="yes" Action="set" Part="last" Permanent="no" Value="[wirehushFolder]" />
			</Component>
			<Component Directory="wirehushNoticesFolder" Id="wirehushLicense" Guid="a1a4d19f-13ce-4d79-a1fb-e9cb1a9f8eb5">
				<File Source="..\LICENSE" KeyPath="yes" />
			</Component>
			<Component Directory="wirehushNoticesFolder" Id="wirehushWireGuardCopying" Guid="50b7ae91-5b45-4d57-bf26-00e43e93707b">
				<File Source="..\WIREGUARD-COPYING" KeyPath="yes" />
			</Component>
			<Component Directory="wirehushNoticesFolder" Id="wirehushThirdPartyNotices" Guid="b1c1d5c4-2e84-4cc5-a530-7a6d0b6db078">
				<File Source="..\THIRD_PARTY_NOTICES.md" KeyPath="yes" />
			</Component>
			<Component Directory="wirehushNoticesFolder" Id="wirehushGPL2" Guid="ce8f0ac8-34d1-4e8b-a62f-593e0e3a2e35">
				<File Source="..\GPL-2.0.txt" KeyPath="yes" />
			</Component>
		</ComponentGroup>

		<!--
			Features
		-->
		<Feature Id="wirehushFeature" Title="WireHush Development" Level="1">
			<ComponentGroupRef Id="wirehushComponents" />
		</Feature>

		<!--
			Abort early if running under old Windows
		-->
		<CustomAction Id="CheckWinVer" BinaryKey="customactions.dll" DllEntry="CheckWinVer" />
		<InstallExecuteSequence>
			<Custom Action="CheckWinVer" After="FindRelatedProducts">NOT REMOVE</Custom>
		</InstallExecuteSequence>

		<!--
			Abort early if running under Wow64
		-->
		<CustomAction Id="CheckWow64" BinaryKey="customactions.dll" DllEntry="CheckWow64" />
		<InstallExecuteSequence>
			<Custom Action="CheckWow64" After="FindRelatedProducts">NOT REMOVE</Custom>
		</InstallExecuteSequence>

		<!--
			Evaluate WireHush services and populate ServiceControl table
		-->
		<CustomAction Id="EvaluatewirehushServices" BinaryKey="customactions.dll" DllEntry="EvaluatewirehushServices" />
		<InstallExecuteSequence>
			<Custom Action="EvaluatewirehushServices" After="FindRelatedProducts" />
		</InstallExecuteSequence>

		<!--
			Launch WireHush.exe on product reconfiguration (starting same MSI again)
		-->
		<CustomAction Id="LaunchApplicationAndAbort" BinaryKey="customactions.dll" DllEntry="LaunchApplicationAndAbort" />
		<InstallExecuteSequence>
			<Custom Action="LaunchApplicationAndAbort" After="CostFinalize">ProductState=5 AND NOT REMOVE AND NOT DO_NOT_LAUNCH</Custom>
		</InstallExecuteSequence>

		<!--
			Evaluate WireHush components
		-->
		<CustomAction Id="EvaluatewirehushComponents" BinaryKey="customactions.dll" DllEntry="EvaluatewirehushComponents" />
		<InstallExecuteSequence>
			<Custom Action="EvaluatewirehushComponents" After="ProcessComponents" />
		</InstallExecuteSequence>

		<!--
			Kill lingering WireHush processes
		-->
		<CustomAction Id="KillwirehushProcesses" BinaryKey="customactions.dll" DllEntry="KillwirehushProcesses" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="KillwirehushProcesses" After="StopServices" />
		</InstallExecuteSequence>

		<!--
			Clear out our config folder on uninstall
		-->
		<CustomAction Id="RemoveConfigFolder" BinaryKey="customactions.dll" DllEntry="RemoveConfigFolder" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="RemoveConfigFolder" After="DeleteServices" />
		</InstallExecuteSequence>

		<!--
			Clear out our adapters on uninstall
		-->
		<CustomAction Id="RemoveAdapters" BinaryKey="customactions.dll" DllEntry="RemoveAdapters" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="RemoveAdapters" Before="RemoveFiles" />
		</InstallExecuteSequence>

		<!--
			Launch WireHush.exe after setup complete
		-->
		<CustomAction Id="LaunchApplication" HideTarget="yes" Impersonate="no" Execute="deferred" FileKey="wirehush.exe" ExeCommand="" Return="asyncNoWait" />
		<InstallExecuteSequence>
			<Custom Action="LaunchApplication" Before="InstallFinalize">(&amp;wirehushFeature = 3) AND NOT DO_NOT_LAUNCH</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>
